.app-wrapper {
  padding: 15px 20px;
  background: linear-gradient(rgb(17, 17, 189), rgb(111, 22, 37));
  display: grid;

  grid-template-areas: 
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: content;  
    padding: 15px 20px;
    background-color: rgba(99, 248, 166, 0.3);
    border-radius: 3px;
    color: white;
}