@charset "UTF-8";
@font-face {
  font-family: 'ProximaNova_bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'ProximaNova_reg';
  src: url("../fonts/ProximaNovaCond-Regular.eot");
  src: url("../fonts/ProximaNovaCond-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond-Regular.woff2") format("woff2"), url("../fonts/ProximaNovaCond-Regular.woff") format("woff"), url("../fonts/ProximaNovaCond-Regular.ttf") format("truetype"), url("../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

  body {
	font-family: 'ProximaNova_reg'; 
}

// Блок Промо
.promo {
	h1 {
		margin-top: 40px;
		margin-bottom: 30px;
		font-size: 75px;
		text-align: center;
		color: rgb(194, 194, 9);
	}
}
.promo-img {
	p {
		text-align: center;
		img {
			height: 400px;
		}
	}	
}
.characteristic-list {
	color: rgb(194, 194, 9);
	font-size: 47px;
}

// Блок Состав продукта

.composition {
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(../img/dark-striped-surface.png);
	.ing-1 {
		border: #f0e877 2px solid;
		color: rgb(193, 109, 193);
		.ing-1-img {
			margin-top: 10px;
			text-align: center;
		}
		img {
			border-radius: 50%;
			height: 150px;
		}
		p {
			font-weight: 900;
			font-size: 20px;
			text-align: center;
		}
	}
	
	.ing-2 {
		border: purple 2px solid;
		color: #f0e877;
		.ing-2-img {
			margin-top: 10px;
			text-align: center;
		}
		img {
			border-radius: 50%;
			height: 150px;
			width: 170px;
		}
		p {
			font-weight: 900;
			font-size: 20px;
			text-align: center;
		}
	}
	.ing-3 {
		margin-top: 90px;
		border: #f0e877 2px solid;
		color: rgb(193, 109, 193);
		
		.ing-3-img {
			margin-top: 10px;
			text-align: center;
		}
		img {
			border-radius: 50%;
			height: 150px;
			width: 160px;
		}
		p {
			font-weight: 900;
			font-size: 20px;
			text-align: center;
		}
	}
	.product-photo {		
		margin-top: 50px;
		text-align: center;
		img {
			height: 300px;
		}
		.order-btn {			
			margin-top: 20px;
			display: block;
			position: relative;
			left: 50%;
			transform: translate(-50%, 0);
			height: 45px;
			width: 140px;
			border: 2px solid ;
			background-color: Transparent;
			color: #f0e877;
			a {
				color: #f0e877;
				text-decoration: none;
			}
		}
	}
	.ing-4 {
		margin-top: 90px;
		border: purple 2px solid;
		color: #f0e877;
		.ing-4-img {
			margin-top: 10px;
			text-align: center;
		}
		img {
			border-radius: 50%;
			height: 150px;
			width: 160px;
		}
		p {
			font-weight: 900;
			font-size: 20px;
			text-align: center;
		}
	}
}

// Блок Отзывы
.feedback {
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(../img/dark-striped-surface.png);
	h2 {
		color: rgb(193, 109, 193);
		text-transform: uppercase;
		text-align: center;
	}
	
}
.feedback-block {
	padding: 40px;
	margin: 20px;
	display: inline-block;
	text-align: center;
	border: purple 2px solid;
	img {
		display: block;
		margin: 0 auto;
		height: 170px;
		width: 170px;
	}
	h3 {
		font-weight: 900;
		font-size: 40px;
		color: #f0e877;
	}
	p {
		font-size: 30px;
		color: #f0e877;
	}
}

// Блок Описание
.description {
	padding-top: 40px;
	padding-bottom: 40px;
	// background: linear-gradient(#a372d6, #eed277) fixed;
	background-image: url(../img/dark-striped-surface.png);
	.desc-img, .desc-text {
		padding: 15px;
		height: 610px;
		border: 2px solid purple ;
	}
	.desc-text {		
		font-weight: 900;
		font-size: 23px;
		color: #f0e877;
	}
	.desc-list {
		margin-top: 15px;
		padding: 15px;
		border: 2px solid purple ;
		text-align: center;
		li {
			display: inline-block;
			font-size: 25px;
			color: #f0e877;
		}
	}
	.order-btn {			
		margin-top: 20px;
		display: block;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		height: 45px;
		width: 140px;
		border: 2px solid ;
		background-color: Transparent;
		color: #f0e877;
		a {
			color: #f0e877;
			text-decoration: none;
		}
	}
}

// Блок Форма заказа
.form {
	padding-top: 40px;
	padding-bottom: 40px;
	// background: linear-gradient(#a372d6, #eed277) fixed;
	background-image: url(../img/dark-striped-surface.png);
	.prod-name {
		font-size: 75px;
		text-align: center;
		border: 2px solid purple; 
		color: purple;
		.up {
			color: rgb(255, 239, 9);
		}
	}
	.timer {		
		margin-top: 15px;
		padding: 15px;		
		height: 87px;
		border: 2px solid purple; 
	}
	.sale {
		margin-top: 15px;
		padding: 15px;
		border: 2px solid purple;
		.sale-img {
			img {				
				display: block;
				margin: 0 auto;
				height: 250px;
    			width: 190px;
			}
		}
		.sale-cost {
			margin-top: 15px;
			.old {
				text-align: center;
				font-size: 70px;
				color: rgb(255, 246, 117);
				text-decoration: line-through;
				text-decoration-color: red;
			}
			.new {
				text-align: center;
				font-size: 70px;
				color: #fff;
				letter-spacing: -7px;
				text-transform: uppercase;
				animation: blur 1.2s ease-out infinite;
				text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
			  }
			  
			  @keyframes blur {
				from {
				  text-shadow:0px 0px 10px #fff,
					0px 0px 10px #fff, 
					0px 0px 25px #fff,
					0px 0px 25px #fff,
					0px 0px 25px #fff,
					0px 0px 25px #fff,
					0px 0px 25px #fff,
					0px 0px 25px #fff,
					0px 0px 50px #fff,
					0px 0px 50px #fff,
					0px 0px 50px #7B96B8,
					0px 0px 150px #7B96B8,
					0px 10px 100px #7B96B8,
					0px 10px 100px #7B96B8,
					0px 10px 100px #7B96B8,
					0px 10px 100px #7B96B8,
					0px -10px 100px #7B96B8,
					0px -10px 100px #7B96B8;
				}
			  }
		}
	}
	.order {
		margin-top: 15px;
		padding: 15px;
		border: 2px solid purple;
		h3 {
			margin-bottom: 20px;
			color: #f0e877;
			text-transform: uppercase;
			text-align: center;
		}
		.name {
			display: block;
			width: 100%;
		}
		.tel-numb {
			margin-top: 10px;
			display: block;
			width: 100%;
			
		}
		.order-btn {			
			margin-top: 20px;
			display: block;
			position: relative;
			left: 50%;
			transform: translate(-50%, 0);
			height: 45px;
			width: 140px;
			border: 2px solid ;
			background-color: Transparent;
			color: #f0e877;
		}
	}
}